<app-navbar></app-navbar>

<div class="container mt-4" [formGroup]="timesheetForm">
    <h3 class="mb-4 text-primary">Employee Timesheet</h3>

    <!-- Live Time -->
    <div class="row mb-3">
        <div class="col">
            <p class="text-muted">Live Time: {{ currentDateTime | date: 'medium'
                }}</p>
        </div>
    </div>

    <!-- Step 1: Timeslot -->
    <div class="row mb-4">
        <div class="col-md-3">
            <label for="timeslotId" class="form-label fw-bold">Timeslot</label>
            <select id="timeslotId" class="form-select"
                formControlName="timeslot"
                (change)="ontimeslotchange($event)">
                <option selected disabled>-- Select Timeslot --</option>
                <option *ngFor="let ts of timeslots" [value]="ts.sloT_ID">{{
                    ts.sloT_NAME }}</option>
            </select>
        </div>
    </div>

    <!-- Step 2: Function Buttons -->
    <div class="row mb-4" *ngIf="isSlotSelected">
        <div class="col-md-3">
            <div class="btn-group-vertical w-100">
                <label class="form-label fw-bold">Functions</label>
                <button
                    class="btn btn-outline-primary my-1"
                    [class.active]="isFunSelected && selectedFunctionId === fun.fuN_ID"
                    *ngFor="let fun of functions"
                    type="button"
                    (click)="onselectfunction(fun)">
                    {{ fun.fuN_NAME }}
                </button>
            </div>
        </div>
        <div class="col-9">
            <!-- Step 3: Project Dropdown -->
            <!-- <div class="row" >

            </div> -->

            <div class="row">
                <div class="col-md-12" >
                    <div class="card shadow-sm" *ngIf="isFunSelected">
                        <div class="card-body">
                            <div class="row g-3">

                                <div class="col-md-6">
                                    <label class="form-label fw-bold">ClientCode
                                        -
                                        ProjectName</label>
                                    <select class="form-select"
                                        formControlName="projectAndClient"
                                        (change)="onprojectselect($event)">
                                        <option selected disabled>-- Select
                                            Project --</option>
                                        <option
                                            *ngFor="let pc of projectClients"
                                            [value]="pc.proJ_ID">
                                            {{ pc.client_code }} - {{
                                            pc.proj_name }}
                                        </option>
                                    </select>
                                    <div class="text-danger small mt-1"
                                        *ngIf="timesheetForm.get('projectAndClient')?.invalid && timesheetForm.get('projectAndClient')?.touched">
                                        Project is required.
                                    </div>
                                </div>

                                <!-- Module -->
                                <div class="col-md-6" *ngIf="isProjectSelected">
                                    <label
                                        class="form-label fw-bold">Modules</label>
                                    <select class="form-select"
                                        formControlName="module"
                                        (change)="onselectModule($event)">
                                        <option selected disabled>-- Select
                                            Module
                                            --</option>
                                        <option *ngFor="let mod of modules"
                                            [value]="mod.moD_ID">
                                            {{ mod.module }}
                                        </option>
                                    </select>
                                </div>

                                <!-- Time Mode -->
                                <div class="col-md-6" *ngIf="isProjectSelected">
                                    <label class="form-label fw-bold d-flex">Time
                                        Mode</label>
                                    <div class="form-check d-inline-block">
                                        <input class="form-check-input"
                                            type="radio"
                                            name="timeType" value="1"
                                            (change)="onselectTimeType($event)">
                                        <label
                                            class="form-check-label">Full</label>
                                    </div>
                                    <div class="form-check d-inline-block ms-5">
                                        <input class="form-check-input"
                                            type="radio"
                                            name="timeType" value="2"
                                            (change)="onselectTimeType($event)">
                                        <label
                                            class="form-check-label">Split</label>
                                    </div>
                                </div>

                                <!-- Time -->
                                <div class="col-md-6"
                                    *ngIf="isProjectSelected && condition">
                                    <label class="form-label fw-bold">Time
                                        (Minutes)</label>
                                    <select class="form-select"
                                        formControlName="minute"
                                        [required]="condition">
                                        <option selected disabled>Select
                                            Minute</option>
                                        <option *ngFor="let min of minutes"
                                            [value]="min+1">{{ min+1 }}
                                            minutes</option>
                                    </select>
                                </div>

                                <!-- Description -->
                                <div class="col-md-12 mt-3"
                                    *ngIf="isProjectSelected">
                                    <label
                                        class="form-label fw-bold">Description</label>
                                    <textarea class="form-control" rows="2"
                                        formControlName="description"></textarea>
                                </div>
                            </div>

                            <!-- Submit -->
                            <div class="row mt-4">
                                <div class="col text-end">
                                    <button class="btn btn-success"
                                        type="submit"
                                        (click)="onSubmit()"
                                        [disabled]="timesheetForm.invalid">
                                        Submit Task
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container mt-4">
        <div class="table-responsive">
            <div>
                <select (change)="GetEmployeeTask($event)">
                    <option value>Select Date</option>
                    <option value="{{empdates.employeeWorkDate}}"
                        *ngFor="let empdates of EmployeeTasks">{{empdates.employeeWorkDate}}</option>
                </select>
                
            </div>
            <input type="date">
            <table
                class="table table-bordered table-striped table-hover align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Task Time Slot</th>
                        <th>Task Function</th>
                        <th>Task Project</th>
                        <th>Task Module Name</th>
                        <th>Task Hours</th>
                        <th>Task Time From</th>
                        <th>Task Time To</th>
                        <th>Task Desc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employeeTimesheet">
                        <td>{{ emp.taskTimeSlot }}</td>
                        <td>{{ emp.taskFunction }}</td>
                        <td>{{ emp.taskProject }}</td>
                        <td>{{ emp.taskModName }}</td>
                        <td>{{ emp.taskHours == 1 ? 'Full' : emp.taskHours == 2
                            ? 'Split' : emp.taskHours }}</td>
                        <td>{{ emp.taskTimeFrom }}</td>
                        <td>{{ emp.taskTimeTo }}</td>
                        <td>{{ emp.taskDesc }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Approve Button -->
            <div class="row justify-content-end mt-3">
                <div class="col-md-3 text-end">
                    <button class="btn btn-primary w-100"
                        (click)="onApproveClick()"
                        [disabled]="taskApproved">
                        Approve Task
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
