<div class="container mt-4">
  <h3>Projects List</h3>
  <table class="table table-bordered table-striped mt-3" *ngIf="projects.length > 0">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Project Description</th>
        <th>Client Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ project.projectName }}</td>
        <td>{{ project.projectDescription }}</td>
        <td>{{ project.clientName }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="projects.length === 0" class="text-center mt-4">
    <p>No projects found.</p>
  </div>
</div>
