<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">Timesheet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="/dashboard">Home</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/timesheet">Timesheet</a>
                </li> -->
                
            </ul>
        </div>
        <p>Hi,{{emp_name}}</p>
        <button class="btn btn-danger ms-3" (click)="logout()">Sign Out</button>
    </div>
</nav>