<!-- Sidebar -->
<div class="sidebar" id="myTopnav" class="bg-dark text-white p-3 sidebar ">

    <h4 class="text-center">Timesheet</h4>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/admindashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/employee" role="button">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/project" role="button">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/client" role="button">Client</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/function" role="button">Function</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/module" role="button">Module</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/role" role="button">Role</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/timeslot" role="button">Timeslot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center"
                routerLink="/admin/holidays" role="button">Holidays</a>
        </li>
        

        <li class="nav-item">
            <div class="d-grid gap-2 col-10 mx-auto">
                <button class="btn btn-danger" (click)="logout()">Sign
                    Out</button>
            </div>
        </li>
    </ul>
</div>