<app-navbar></app-navbar>
<div class="container border p-3 mt-3" [formGroup]="timesheetForm">
    <div class="row">
        <p>Live Time: {{ currentDateTime | date: 'medium' }}</p>
    </div>

    <div class="row d-flex">
        <div class="col-3">
            Timeslot:
            <select id formControlName="timeslot">
                <option value="10AM-11AM">10AM-11AM</option>
                <option value="11AM-12AM">11AM-12AM</option>
                <option value="12AM-1PM">12AM-1PM</option>
            </select>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-2" style="height: 150px; overflow-y: auto;">
            <nav class="nav flex-column">
                <button class="btn btn-primary mb-2" type="button"
                    (click)="onButtonClick('Button1')">Button1</button>
                <button class="btn btn-primary mb-2" type="button"
                    (click)="onButtonClick('Button2')">Button2</button>
                <button class="btn btn-primary mb-2" type="button"
                    (click)="onButtonClick('Button3')">Button3</button>
                <button class="btn btn-primary" type="button"
                    (click)="onButtonClick('Button4')">Button4</button>
            </nav>
        </div>

        <div class="col-3">
            <label for>Project and Client</label>
            <select class="w-100" formControlName="projectAndClient">
                <option value="ProjectList1">ProjectList1</option>
                <option value="ProjectList2">ProjectList2</option>
                <option value="ProjectList3">ProjectList3</option>
            </select>
        </div>

        <div class="col-2">
            <select class="w-100" formControlName="module">
                <option value="Module1">Module1</option>
                <option value="Module2">Module2</option>
                <option value="Module3">Module3</option>
            </select>
        </div>

        <div class="col-1">
            <select class="w-100" formControlName="type">
                <option value disabled>Select Type</option>
                <option value="Full">Full</option>
                <option value="Split">Split</option>
            </select>
        </div>

        <div class="col-1">
            <select class="w-100" formControlName="minute">
                <option value disabled>Select Minute</option>
                <option *ngFor="let min of minutes" [value]="min">{{ min
                    }}</option>
            </select>
        </div>

    </div>

    <div class="row mt-4 justify-content-center">
        <button
            class="btn btn-success w-50"
            type="submit"
            (click)="onSubmit()"
            [disabled]="timesheetForm.invalid">
            Add Task
        </button>
    </div>
</div>

<div class="container">

</div>
