<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center mb-4">Employee Registration</h3>

      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="mb-2">
          <label class="form-label">Name:</label>
          <input type="text" formControlName="emP_NAME" class="form-control" />
          <div *ngIf="emP_NAME?.invalid && emP_NAME?.touched"
            class="text-danger small">
            <div *ngIf="emP_NAME?.errors?.['required']">Name is required</div>
            <div *ngIf="emP_NAME?.errors?.['minlength']">Name must be at least 3
              characters</div>
            <div *ngIf="emP_NAME?.errors?.['maxlength']">Name cannot exceed 50
              characters</div>
            <div *ngIf="emP_NAME?.errors?.['pattern']">Name can only contain
              letters
              and spaces</div>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">EmpCode</label>
          <input type="text" formControlName="emP_CODE" class="form-control" />
          <div *ngIf="emP_CODE?.invalid && emP_CODE?.touched"
            class="text-danger small">
            <div *ngIf="emP_CODE?.errors?.['required']">emp code is
              required</div>
            <div *ngIf="emP_CODE?.errors?.['minlength']">empcode must be at
              least 3
              characters</div>
            <div *ngIf="emP_CODE?.errors?.['maxlength']">empcode cannot exceed
              50
              characters</div>
            <div *ngIf="emP_CODE?.errors?.['pattern']">empcode can only contain
              letters
              and spaces</div>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Role</label>
          <select class="form-select" formControlName="rolE_ID">
            <option selected disabled>Select Role</option>
            <option *ngFor="let r of roles" [value]="r.rolE_ID">{{ r.rolE_NAME
              }}</option>
          </select>
          <div class="text-danger" *ngIf="rolE_ID?.invalid && rolE_ID?.touched">
            <small *ngIf="rolE_ID?.errors?.['required']">Role is
              required</small>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Mobile No:</label>
          <input type="number" formControlName="emP_MOBILE_NO"
            class="form-control" />
          <div *ngIf="emP_MOBILE_NO?.invalid && emP_MOBILE_NO?.touched"
            class="text-danger small">
            <div *ngIf="emP_MOBILE_NO?.errors?.['required']">Mobile No is
              required</div>
            <div *ngIf="emP_MOBILE_NO?.errors?.['pattern']">Invalid mobile
              number</div>
          </div>
        </div>

        <div class="mb-2">
          <label class="form-label">Email:</label>
          <input type="email" [readonly]="isEditing"  formControlName="emP_EMAIL_ID"
            class="form-control" />
          <div *ngIf="emP_EMAIL_ID?.invalid && emP_EMAIL_ID?.touched"
            class="text-danger small">
            <div *ngIf="emP_EMAIL_ID?.errors?.['required']">emP_EMAIL_ID is
              required</div>
            <div *ngIf="emP_EMAIL_ID?.errors?.['email']">Invalid email
              format</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input type="password" formControlName="emP_PASSWORD"
            class="form-control" [readonly]="isEditing" />
          <div *ngIf="emP_PASSWORD?.invalid && emP_PASSWORD?.touched"
            class="text-danger small">
            <div *ngIf="emP_PASSWORD?.errors?.['required']">Password is
              required</div>
            <div *ngIf="emP_PASSWORD?.errors?.['minlength']">Password must be at
              least 8 characters</div>
            <div *ngIf="emP_PASSWORD?.errors?.['pattern']">
              Password must include 1 uppercase letter, 1 number, and 1 special
              character
            </div>
          </div>
        </div>
        <div>
          <button type="submit" *ngIf="!isEditing" [disabled]="employeeForm.invalid"
            class="btn btn-primary w-100">Register</button>
        </div>
        <div>
          <button type="button" *ngIf="isEditing" [disabled]="employeeForm.invalid"
            class="btn btn-primary w-50 " (click)="updateEmp()">Update</button>
          <button type="submit" *ngIf="isEditing"
            class="btn btn-primary w-50 " (click)="resetForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <h4>Registered Employees</h4>
      <table class="table table-bordered table-striped mt-3"
        *ngIf="employees.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{ emp.emP_NAME }}</td>
            <td>{{ emp.emP_MOBILE_NO }}</td>
            <td>{{ emp.emP_EMAIL_ID }}</td>
            <td>{{emp.rolE_NAME}}</td>
            <td><button class="btn btn-success"
                (click)="editEmp(emp)">Edit</button></td>
            <td><button class="btn btn-danger"
              (click)="deleteEmp(emp.emP_ID)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="employees.length === 0" class="text-muted text-center">
        No employees registered yet.
      </div>
    </div>
  </div>
</div>
