<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h4>Add Function</h4>
      <form [formGroup]="functionForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label>Function Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Function Name"
            formControlName="fuN_NAME"
          />
          <div
            class="text-danger"
            *ngIf="fuN_NAME?.invalid && fuN_NAME?.touched"
          >
            <small *ngIf="fuN_NAME?.errors?.['required']"
              >Function Name is required</small
            >
            <small *ngIf="fuN_NAME?.errors?.['minlength']"
              >At least 3 characters</small
            >
            <small *ngIf="fuN_NAME?.errors?.['maxlength']"
              >Maximum 50 characters</small
            >
            <small *ngIf="fuN_NAME?.errors?.['pattern']"
              >Only letters and spaces allowed</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label>Role</label>
          <select class="form-select" formControlName="rolE_NAME">
            <option value="">Select Role</option>
            <option *ngFor="let r of roles" [value]="r.rolE_ID">{{ r.rolE_NAME
              }}</option>
          </select>
          <div class="text-danger" *ngIf="rolE_NAME?.invalid && rolE_NAME?.touched">
            <small>Role is required</small>
          </div>
        </div>

        <div>
          <button type="submit" *ngIf="!isEditing" [disabled]="functionForm.invalid"
            class="btn btn-primary w-100">Register</button>
        </div>
        <div>
          <button type="button" *ngIf="isEditing" [disabled]="functionForm.invalid"
            class="btn btn-primary w-50 " (click)="updateEmp()">Update</button>
          <button type="submit" *ngIf="isEditing"
            class="btn btn-primary w-50 " (click)="resetForm()">Cancel</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h4>Added Functions</h4>
      <table
        class="table table-bordered table-striped mt-3"
        *ngIf="functions.length > 0"
      >
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Function Name</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of functions; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ f.fuN_NAME }}</td>
            <td>{{ f.rolE_NAME }}</td>
            <td><button class="btn btn-success"
                (click)="editEmp(f)">Edit</button></td>
            <td><button class="btn btn-danger"
              (click)="deleteEmp(f.fuN_ID)">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="functions.length === 0" class="mt-3">
        <p>No functions added yet.</p>
      </div>
    </div>
  </div>
</div>
