<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <h4>Registered Employees</h4>
      <table class="table table-bordered table-striped mt-3" *ngIf="employees.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Mobile No</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employees">
            <td>{{ emp.name }}</td>
            <td>{{ emp.mobileNo }}</td>
            <td>{{ emp.email }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="employees.length === 0" class="text-muted text-center">
        No employees registered yet.
      </div>
    </div>
  </div>
</div>
